body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:829px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:135px;
  top:44px;
  width:694px;
  height:36px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  white-space:nowrap;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:135px;
  top:90px;
  width:453px;
  height:20px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  white-space:nowrap;
}
